{% extends 'base.html' %}
{% block title %}Habit Details{% endblock %}
{% block content %}
    <h1>Habit Details</h1>
    <h3>{{ habit_details.name }}</h3>
    <h3>Goal: {{ habit_details.goal }}</h3>
    <table>
        <tr>
            <th>Date</th>
        {% for thing in records %}
            <th>{{ thing.date }}</th>
        {% endfor %}
        </tr>
        <tr>
            <th>Number Completed</th>
            {% for thing in records %}
                <td>{{ thing.number_completed }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Goal Completed?</th>
            {% for thing in records %}
            if 
                <td>{{ thing.number_completed }}</td>
            {% endfor %}
        </tr>
        {% comment %} <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr>
            <td>{{ habit_details.name }}</td>
        </tr>
        <tr>
            <td>Goal Reached?</td>
        </tr> {% endcomment %}
    </table>
    <footer>
        <button><a href="{% url 'add_record' %}">Add New Record</a></button>
        <button><a href="{% url 'home' %}">Home</a></button>
    </footer>
{% endblock %}